target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Help Response ###
.HELP.md

### Optionals ###
.DS_Store
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
bin/
*.log
